body {
    background-color: #333; /* Cambiar el color de fondo del cuerpo a oscuro */
    color: #fff; /* Cambiar el color del texto a blanco */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(17, 30px);
    grid-template-rows: repeat(8, 30px);
    gap: 1px;
    margin: 50px auto; /* Centrar la cuadrícula */
}

.grid-item {
    width: 30px;
    height: 30px;
    background-color: #999; /* Cambiar el color de fondo de las casillas a un tono más claro */
    border: 1px solid #333; /* Cambiar el color del borde de las casillas */
    cursor: pointer;
}


.popup {
    position: absolute;
    background-color: #444; /* Cambiar el color de fondo del popup */
    color: #fff; /* Cambiar el color del texto del popup a blanco */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.option {
    padding: 5px;
    cursor: pointer;
}

.selected-modifiers {
    margin-top: 20px;
    color: #fff; /* Cambiar el color del texto de la tabla a blanco */
}

.selected-modifiers th {
    text-align: left;
}

.selected-modifiers .percentage {
    text-align: right;
}
